:root {
    --color: #535353;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--color)
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.game {
    height: 200px;
    border: 1px solid black;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
}

#gameOver {
    letter-spacing: 1rem;
}

#time {
    letter-spacing: 0.2rem;
    font-size: 1rem;
    text-align: right;
    margin-right: 20px;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/trex.png);
    background-size: 50px 50px;

    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url(img/cactus.png);
    background-size: 20px 40px;

    animation: block 1s infinite;
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

.copyright {
    font-size: 0.8rem;
    color: var(--color);
    margin-top: 30px;
    display: block;
}

.copyright a {
    color: var(--color);
}